$border-color: #e7ecf1;

.lister {
  table {
    // background-color: transparent;
    border: 1px solid $border-color;
    border-bottom: 0;
    border-collapse: collapse;
    line-height: 2em;
    box-sizing: border-box;
    width: 100%;

    caption {
      padding: 8px 0;
      .lister-caption {
        display: flex;
      }
    }

    td, th {
      border: 0;
      padding: 0;
      text-align: left;
      vertical-align: middle;
    }

    thead {
      // border-left: 1px solid $border-color;
      // border-right: 1px solid $border-color;
      // border-top: 1px solid $border-color;
      background-color: #f9fafb;

      tr {
        animation-fill-mode: both;
        transition: all 0.2s ease-in-out;

        th {
          padding: 0.3em 0.78571429em;
          border-bottom: 1px solid $border-color;
          position: relative;

          &:last-child {
            // border-right: 1px solid $border-color;

            .lister-resize {
              display: none;
            }
          }

          .head-cell {
            display: flex;

            .head-cell-title {
              cursor: move;
              flex: 1;
            }
            .head-sort {
              width: 20px;
              text-align: center;

              &:hover {
                background-color: $border-color;
              }
            }
          }

          .head-hidden {
            visibility: hidden;
          }

          .lister-resize {
            cursor: col-resize;
            display: block;
            width: 9px;
            position: absolute;
            right: -5px;
            left: auto;
            top: 0;
            bottom: 0;
            z-index: 8;

            &::before {
              content: '';
              position: absolute;
              height: 1.6em;
              top: 0.5em;
              left: 4px;
              width: 0;
              border-left: 1px solid #dde4ea;
            }

            &:hover::before {
              border-left: 1px solid #ccc;
            }
          }
        }
      }
    }

    tbody {
      // border-left: 1px solid $border-color;

      tr:nth-child(2n) {
        background-color: #fcfcfd;
      }

      // tr {
      //   &>td:last-child {
      //     border-right: 1px solid $border-color;
      //   }
      // }

      td {
        border-bottom: 1px solid $border-color;

        &> .td-cell {
          margin: 0.5em 0.78571429em;
        }

        &> .td-hidden {
          visibility: hidden;
        }
      }
    }
  }

  table.drag-column {
    position: fixed;
    z-index: 2;
    border-left: 0;
    border-right: 0;
    transition: left 0.3s ease-in-out;
  }

  table.drag-current {
    position: fixed;
    opacity: 0.8;
    z-index: 3;
  }


  .lister-pagelist {
    padding: 0.78571429em 0;
    text-align: right;

    li {
      display: inline-block;
      min-width: 2em;
      height: 2em;
      line-height: 18px;
      border: 1px solid $border-color;
      box-sizing: border-box;
      line-height: 2em;
      text-align: center;
      margin-left: 0.78571429em;
      cursor: pointer;

      &:hover, &.active {
        border: 1px solid #36c6d3;
      }
    }
  }
}

.lister-button {
  display: inline-block;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &:hover::before {
    background-color: $border-color;
  }
}
