$lightgray: #e6e6e6;
$gray: #acacac;

.lister {

  .lister-caption {
    padding: 8px 0;
    display: flex;
  }

  .lister-table-container {
    overflow-x: auto;
    border: 1px solid $lightgray;
    border-bottom: 0;
    border-radius: .28571429em;
    position: relative;


    table {
      border: 0;
      border-collapse: collapse;
      line-height: 2em;
      box-sizing: border-box;
      width: 100%;
      table-layout: fixed;

      td, th {
        border: 0;
        padding: 0;
        text-align: left;
        vertical-align: middle;
      }

      thead {
        background-color: #f9fafb;

        tr {
          animation-fill-mode: both;
          transition: all 0.2s ease-in-out;

          th {
            padding: 0.3em 0.78571429em;
            border-bottom: 1px solid $lightgray;
            position: relative;
            line-height: 36px;
            font-weight: bold;

            &:last-child {

              .lister-resize {
                display: none;
              }
            }

            .head-cell {
              display: flex;

              .head-cell-title {
                cursor: move;
                flex: 1;
              }
              .head-sort {
                width: 20px;
                border-radius: .28571429em;
                text-align: center;

                &:hover {
                  background-color: $lightgray;
                }
              }
            }

            .head-hidden {
              visibility: hidden;
            }

            .lister-resize {
              cursor: col-resize;
              display: block;
              width: 9px;
              position: absolute;
              right: -5px;
              left: auto;
              top: 0;
              bottom: 0;
              z-index: 8;

              &::before {
                content: '';
                position: absolute;
                top: 0.8em;
                bottom: 0.8em;
                left: 4px;
                width: 0;
                border-left: 1px solid #dde4ea;
              }

              &:hover::before {
                border-left: 1px solid #ccc;
              }
            }
          }
        }
      }

      tbody {
        tr:nth-child(2n) {
          background-color: rgba(0,0,50,.02);
        }

        td {
          border-bottom: 1px solid $lightgray;

          &> .td-cell {
            padding: 0.5em 0.78571429em;
            overflow: hidden;
            box-sizing: border-box;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &> .td-hidden {
            visibility: hidden;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
      background-clip: padding-box;
      min-height: 28px;
      border-radius: .28571429em;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #f8f8f8;
    }
  }


  table.drag-column {
    position: absolute;
    z-index: 2;
    border-left: 0;
    border-right: 0;
    transition: left 0.3s ease-in-out;
  }

  table.drag-current {
    position: absolute;
    opacity: 0.8;
    z-index: 3;
    border-left: 1px solid $lightgray;
    border-right: 1px solid $lightgray;
  }


  .lister-pagelist {
    padding: 0.78571429em 0;
    text-align: right;

    li {
      display: inline-block;
      margin-left: 8px;
      box-sizing: border-box;
      border-radius: .28571429em;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: 1px solid $lightgray;
      cursor: pointer;

      &:hover, &.active {
        border: 1px solid #85b7d9;
      }
    }
  }
}

.lister-filter-row {
  input {
    width: 100%;
    display: block;
    font-size: 14px;
    border: 1px solid $lightgray;
    border-radius: .28571429em;
    color: #838fa1;
    background-color: #fff;
    box-sizing: border-box;
    padding: .5em;
    height: 2.28571429em;
    line-height: 1.42857142em;
  }
}

.lister-config {
  display: inline-block;
  position: relative;
  text-align: left;

  .lister-config-body {
    display: none;
    position: absolute;
    padding: 1em;
    top: 36px;
    right: 0;
    z-index: 11;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: .28571429em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    &.opened {
      display: block;
    }

    h4 {
      color: #888;
      margin-bottom: 8px;
    }

    .column-limit {
      margin-bottom: 1em;
      li {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .column-visibility {
      display: flex;
      flex-wrap: wrap;
      min-width: 280px;

      li {
        display: inline-block;
        flex: 1 0 50%;

        .column-visibility-toggle {
          padding: 0 20px 0 30px;
          margin: 0 10px 0 0;
          position: relative;
          line-height: 2em;
          cursor: pointer;
          border-radius: .28571429em;

          &:hover {
            background-color: $lightgray;
          }

          &::before {
            display: block;
            position: absolute;
            left: 10px;
            top: 6px;
            content: '';
            width: 14px; height: 14px;
            border-radius: 50%;
            border: 1px solid $gray;
            background-color: #fff;
            vertical-align: middle;
          }
          &.visible::after {
            display: block;
            position: absolute;
            left: 14px;
            top: 10px;
            content: '';
            width: 8px; height: 8px;
            border-radius: 50%;
            background-color: $gray;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.lister-search-input {
  width: 100%;
  position: relative;

  span {
    display: none;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #f9fafb;
    cursor: pointer;

    &:hover {
      background-color: #fff6f6;
    }
  }

  &:hover {
    span {
      display: inline-block;
    }
  }
}


.lister-btn {
	cursor: pointer;
	display: inline-block;
  padding: 0 0.71428571em;
  height: 2.28571429em;
  line-height: 2.28571429em;
	min-height: 1em;
	outline: none;
	user-select: none;
	color: rgba(0, 0, 0, .6);
 	background-color: #fff;
	border-radius: .28571429em;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-family: Lato, "Helvetica Neue", Helvetica, 'Microsoft YaHei' Arial, "\5b8b\4f53", sans-serif;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: all 0.25s ease;
	box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;



	// Hover
	&:hover,
	&.hover {
		background-color: $lightgray;
		border-color: #8c8c8c;
	}
	&:hover icon {
		opacity: 0.85;
	}

	//Active
	&.active,
	&.active:hover,
	&:active,
	&:focus {
		background-color: #babbbc;
    border-color: #8c8c8c;
	}

	i {
		vertical-align: middle;
	}

  &.tiny {
		font-size: 12px !important;
		padding: 0 0.5em;
		height: 2em;
		line-height: 2em;
		font-weight: normal;
	}

  &.small {
		font-size: 14px !important;
		padding: 0;
		height: 2.28571429em;
		min-width: 2.28571429em;
		line-height: 2.14285714em;
		font-weight: normal;
	}
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0;
	box-shadow: none;
	padding: 0;
}
